.header-button{
    padding: .2rem 1rem;
    background: #77C54F;
    box-shadow: 1.5px 1.5px 5px 1.5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.header-button p {
    color: white;
    font-family: 'Merriweather', serif;
    font-weight: normal;
    text-align: center;
}
