/* Landing Page */
main {
  width: 100%;
  padding-bottom: 5rem;
}

.main {
  width: 100%;
  display: flex;
}

main h3 {
  margin: 0;
  padding: 0;
}

main h1 {
  margin: 0;
  padding: 0;
  font-weight: 500;
}

.left-container {
  width: 70%;
  margin-left: 8rem;
  margin-right: 5rem;
}

.right-container {
  width: 30%;
  margin-right: 4rem;
  border-radius: 20px;
}

.right-container img {
  width: 157px;
  height: 160px;
  border-radius: 50px;
  margin-top: 1.2rem;
}

.bottom-container {
  width: 100%;
  margin-top: 10rem;
}

.bottom-container h3 {
  text-align: center;
}

/* Boxes */

.product-container {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  justify-content: center;
}

.product-container-box {
  width: 24%;
  margin-left: 2rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.product-container-box img {
  width: 64px;
  height: 64px;
}

.product-container-box h4 {
  margin-top: 0.4rem;
}

.product-container-box p {
  margin-top: 1rem;
}

/* Portrait and Landscape (IPAD) */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .left-container h3 {
    justify-content: left;
  }

  .product-container {
    flex-direction: column;
    align-items: center;
  }

  h3 {
    display: flex;
    justify-content: center;
  }

  .product-container-box {
    width: 74%;
    margin-left: 0;
    margin-top: 3rem;
    align-items: center;
  }

  .product-container-box p {
    text-align: left;
    margin-left: 2rem;
  }
}

/* Portrait (IPHONE) */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
  * {
    margin: 0;
    padding: 0;
  }

  .left-container {
    justify-content: center;
    width: 90%;
    margin: 1rem;
  }

  h1 {
    margin-top: 1rem;
  }

  .right-container {
    display: none;
  }

  .product-container {
    flex-direction: column;
    align-items: center;
  }

  h3 {
    justify-content: center;
  }

  .left-container h3 {
    justify-content: left;
  }

  .product-container {
    justify-content: center;
    align-items: center;
  }

  .product-container-box {
    width: 96%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 3rem;
    align-items: center;
  }

  .product-container-box p {
    text-align: left;
  }
}
