.containerr {
    width: 75%;
    text-align: left;
    margin: 0 auto;
}

.contact-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.contact-container h2 {
    font-family: 'Merriweather', serif;
    color: #464242;
}

.contact-container p {
    margin-top: .5rem;
    font-family: 'Montserrat', serif;
    font-weight: normal;
}

.contact-container-images img {
    width: 64px;
    height: 64px;
    margin-right: 2rem;
    margin-top: 1.2rem;
}

/* Portrait and Landscape (IPAD) */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 1) {

}

/* Portrait (IPHONE) */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) {
    .portfolio-container {
        flex-direction: column;
        width: 90%;
    }

    .portfolio-container-left {
        width: 90%;
        margin: .5rem;
        padding: 0;
    }
    .portfolio-container-left h3 {
        text-align: left;
        margin: 0;
        padding: 0;
    }
}

